#Folder library 
node_modules/

#Secret File 
.env

# Folder hasil kompilasi/build (kalau nanti lo pake build tools)
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#File cache sistem
.DS_Store
Thumbs.db